* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.bg-body {
    background-color: rgb(52, 61, 70);
    text-align: center;
}
.input-container {
    display: inline-flex;
    height: 70px;
    width: 60%;
    margin-top: 20px;
    font-size: 2rem;
    border-radius: 10px;
    border: none;
    background-color: white;
    text-align: start;
    outline: 0;
}

.input {
    display: inline-block;
    height: 100%;
    width: 100%;
    font-size: 2rem;
    border: none;
    outline: 0;
}

.input-icon {
    display: block;
    height: 34px;
    width: 40px;
    margin: 18px;
}

.view-container {
    position: relative;
    height: 500px;
    width: 300px;
    margin: 50px;
    background-color: white;
    box-shadow: 5px 5px 10px black;
    border-radius: 10px;
}

.view-image {
    margin: 15px 0;
    pointer-events: none;
}

.view-title {
    position: absolute;
    top: 90px;
    left: 0;
    display: inline-block;
    width: 100%;
    background-color: green;
    opacity: 0.8;
}

.view-title a {
    display: block;
    margin: 10px;
    color: white;
}

.view-list-item {
    margin: 5px;
    font-size: 1.25rem;
    color: black;
    list-style-type: none;
}

.view-list-item i{
    position: absolute;
    left: 40px;
    width: 20px;
    font-size: 1.25rem;
}

.view-some-info {
    padding: 10px;
    text-align: start;
    color: black;
}

.list-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 999999px;
    height: 100%;
}

.pagination-container {
    position: absolute;
    bottom: 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.pagination-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    margin: 5px;
    background-color: white;
    border: 2px solid white;
    border-radius: 50%;
    color: black;
}

.pagination-item-bgcolor {
    background-color: red;
    color: white;
}
